body{
	margin:0;
	padding:0;
	height: 100%;
	background-color: white;
	}

h1{
	font-family: abeatbykai;
	background-color: purple;
	color: red;
	padding: 20px;
	font-size: 40px;
	margin: 0px
	}
p{
        font-family: rubik;
        }
        
a:link{ text-decoration:none;
	color: red;
	}
#Menu { 
	background-color:purple;
	list-style-type: none;
	margin: 0px;
	padding:20px;
	overflow: hidden;
	}
.listed {
	float: left;
	}
li a{
	display: block;
	color: black;
	text-align: center;
	padding: 18px;
	text-decoration: none;
	font-family: earth  kid;
	}
li a:hover {
	background-color: red;
	}
#one{
  	font-family: rubik;
  	float:left;
  	margin: 60px 40px;
  	color: green;
  	font-size: 40px;
  	text-decoration: none;
  	padding: 80px;
  	background-color: pink;
  	}
#two{
 	font-family: rubik;
 	float:right;
 	margin: 60px 40px;
 	font-size: 40px;
 	text-decoration: none;
 	padding: 80px;
 	background-color: pink;
 	color: blue;
 	}
#three{
  	font-family: rubik;
  	float:left;
  	margin: 60px 40px;
  	color: green;
  	text-decoration: none;
  	font-size: 40px;
  	padding: 80px;
  	background-color: pink;
  	}

#four{
  	font-family: rubik;
  	float:right;
  	margin: 60px 40px;
  	color: green;
  	font-size: 40px;
  	text-decoration: none;
  	padding: 80px;
  	background-color: pink;
  	}
#footer{
	background: "books3.jpg";
	height:100px;
	float: bottom;
	padding-top: 500px;
	}
span a:hover{
		background-color: ligthblue;
		}